language: node_js
node_js :
  - "6"
services:
  - mysql
before_script:
  - mysql -e "create database users;"
  - mysql -e "use users;CREATE TABLE `usre_inform`(
                           `user_id` INT UNSIGNED AUTO_INCREMENT,
                           `user_name` VARCHAR(100) NOT NULL,
                           `name` VARCHAR(50) NOT NULL,
                           `age` INT(30) NOT NULL,
                           `sex` VARCHAR(20) NOT NULL,
                           `phone` VARCHAR(100) NOT NULL,
                           `email` VARCHAR(100) NOT NULL,
                           `mark` VARCHAR(100) NOT NULL,
                           PRIMARY KEY ( `user_id` )
                        )ENGINE=InnoDB DEFAULT CHARSET=utf8;"
